<h1>Welcome, <%= cur_user %></h1>
<p>
<% contacts.each do |contact| %>
  Name: <%= contact[:name] + " Email: " + contact[:email] %>
    <% end %>
</p>

<form method="get" action="/logout">
  <input class="loginbutton" type="submit" value="Logout"/>
</form>