<h1>Welcome, <%= cur_user %></h1>
<ul>
<% contacts.each do |contact| %>
  <li>Name: <%= contact[:name] + ", Email: " + contact[:email] %></li>
    <% end %>
</ul>

<form method="get" action="/logout">
  <input class="loginbutton" type="submit" value="Logout"/>
</form>