<form method="post" action="/">
  <ul>
    <li>
      <label class="names" for="username">Username: </label>
      <input class = "names" type="text" name="username" id="username"/>
    </li>
    <li>
      <label class="names" for="password">Password: </label>
      <input class = "names" type="password" name="password" id="password"/>
    </li>
  </ul>
  <button type="submit">Login</button>
</form>
