<form method="post" action="/register">
  <ul class="nodots">
    <li>
      <label class="names" for="name">Username: </label>
      <input class = "names" type="text" name="username" id="name"/>
    </li>
    <li>
      <label class="names" for="password">Password: </label>
      <input class = "names" type="password" name="password" id="password"/>
    </li>
  </ul>
  <button class="loginbutton" type="submit">Submit</button>
</form>

<div class = "red"><% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
</div>